@use "../abstract/variables" as variabili;

.header {
    width: 100%;
    // border: 1px solid salmon;
    grid-area: header;

    &__title-big {
        font-size: 45px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        text-align: left;
    }

    &__title-small{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    &__title-medium {
        font-size: 25px;
        color: variabili.$primary-color;
    }
    @media (min-width:769px) {
        max-width: 750px;
        margin: 0 auto;
    }
}
