@use "../abstract/variables" as variables;


@mixin box-style {
    border-radius: variables.$radius-base;
    background-color: variables.$color-box;
    box-shadow: 0 0 10px white;
    color: black;
}